body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

.container {
    text-align: center;
}

h1 {
    color: #ff69b4;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493;
}

#message-container {
    margin-top: 20px;
    display: none;
}

#message {
    font-size: 24px;
    color: #333;
}

#image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* เพิ่มสำหรับการแชร์ */
#share-container {
    margin-top: 20px;
    display: none;
}

#share-container button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#share-container button:hover {
    background-color: #45a049;
}
